* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: monospace, arial, sans-serif;
	/* background: var(--color__white); */
	border-radius: 10px;
	background: #0F19AA;
	background: linear-gradient(to top, #0F19AA 0%, #000000 30%, #000000 70%, #0F19AA 100%);

}

header {
  display: flex;
  align-items: flex-end;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

nav{
	color: #fff;
}

main{
  border-radius: 10px;
}

b {
	color: var(--color__green);
}

/*body * {
	outline: 1px solid red;
}*/

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 1.5rem;
}

.title .line {
	width: 20px;
	height: 4px;
	/* background: var(--color__green); */
}

.section__about,
.section__techs,
.section__projects {
	margin: 4rem 0;
}

.description,
.project {
	margin: 1rem 0;
}

.models {
	display: none;
}

footer{
	display: flex;
	justify-content: center;
	padding: 1rem;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	margin-top: 30px;
}

@keyframes typewriter {
	0% {
		width: 0;
	}

	100% {
		width: 190px;
	}
}

@keyframes blink {
	0% {
		border-color: var(--color__green);
	}

	100% {
		border-color: transparent;
	}
}

@keyframes figure {
	0% { transform: scale(2); filter: blur(4px); opacity: 0; } 
	100% { transform: scale(1); filter: blur(0px); opacity: 1;} 
}
figure{
	transform: scale(2);
	filter: blur(4px);
	opacity: 0;
}

figure.animate { 
    animation: figure 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0s 1 normal both; 
}

/* @keyframes customAni {
  0% {
	animation-timing-function: ease-in;
	opacity: 1;
	transform: translateX(48px);
  }

  24% {
	opacity: 1;
  }

  40% {
	animation-timing-function: ease-in;
	transform: translateX(26px);
  }

  65% {
	animation-timing-function: ease-in;
	transform: translateX(13px);
  }

  82% {
	animation-timing-function: ease-in;
	transform: translateX(6.5px);
  }

  93% {
	animation-timing-function: ease-in;
	transform: translateX(4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
	animation-timing-function: ease-out;
	transform: translateX(0px);
  }

  100% {
	animation-timing-function: ease-out;
	opacity: 1;
	transform: translateX(0px);
  }
}
@keyframes ProjectsAni {
  0% {
	transform: scale(0.5);
	transform-origin: 50% 100%;
  }

  100% {
	transform: scale(1);
	transform-origin: 50% 100%;
  }
}
@keyframes TechsAni {
  0% {
	animation-timing-function: ease-in;
	opacity: 1;
	transform: translateY(-45px);
  }

  24% {
	opacity: 1;
  }

  40% {
	animation-timing-function: ease-in;
	transform: translateY(-24px);
  }

  65% {
	animation-timing-function: ease-in;
	transform: translateY(-12px);
  }

  82% {
	animation-timing-function: ease-in;
	transform: translateY(-6px);
  }

  93% {
	animation-timing-function: ease-in;
	transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
	animation-timing-function: ease-out;
	transform: translateY(0px);
  }

  100% {
	animation-timing-function: ease-out;
	opacity: 1;
	transform: translateY(0px);
  }
}  */
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/* {
  scrollbar-width: thin;
  scrollbar-color: #FFFFFF #FFFFFF;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ABB3B2;
}

*::-webkit-scrollbar-track:active {
  background-color: #808A88;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #8B8B8B;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FFFFFF;
}

 

