.menu {
  margin-top: 10px;
}

/* 3 Lines */
.menu__fakeTrigger {
  position: absolute;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
}

.menu .menu__lines {
  position: absolute;
  z-index: 999;
  width: 35px;
  height: 35px;
}

.menu .menu__lines span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 12px;

  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.menu .menu__fakeTrigger:checked~.menu__lines span {}

.menu .menu__fakeTrigger:checked~.menu__lines span:nth-child(1) {
  transform-origin: 0% 0%;
  transform: rotate(45deg) scaleX(1.25);
}

.menu .menu__fakeTrigger:checked~.menu__lines span:nth-child(2) {
  opacity: 0;
}

.menu .menu__fakeTrigger:checked~.menu__lines span:nth-child(3) {
  transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(1.25);
}

/* Nav */
.menu ul {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 998;
  width: 300px;
  height: 100vh;
  margin-left: -300px;
  padding-top: 100px;
  list-style: none;
  transition: all 0.2s ease-in-out;
}

.menu ul li {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: 5px;
  background: #292b2f;
  margin: 5px;
}

.menu .menu__fakeTrigger:checked~ul {
  margin-left: 0;
}

.menu ul li {
  padding: 20px 1.5rem;
}

.menu ul #social {
  display: flex;
  gap: 20px;
  top: 45%;
}

.menu ul #social a img {
  width: 30px;
}

.menu ul li a {
  display: inline-block;
  width: auto;
  text-decoration: none;

}

.menu ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.menu ul li a:hover::after,
.menu ul li a:focus::after {
  width: 100%;
}

/* Apresetation */
.section__apresentation h1,
.section__apresentation span {
  color: #fff;
}

.section__about p,
.section__about h2 {
  color: #fff;
  font-size: 1.3rem;
}

.section__apresentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 200px);
}

.section__apresentation .section__apresentation--text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__apresentation .section__apresentation--text h1 {
  text-align: center;
  font-size: 2rem;
}

.section__apresentation .section__apresentation--text h1 span {
  color: #fff;
}

.section__apresentation .section__apresentation--text>span {
  border-right: 5px solid rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(13) 1s alternate,
    blink 800ms steps(13) infinite normal;
}

.section__apresentation .section__apresentation--text a {
  display: inline-block;
  margin-top: 3rem;
  padding: 0.75rem 1rem;
  border: 2px solid;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  color: #fff;
  box-shadow: 3px 3px 100px 8px rgba(226, 215, 215, 0.47);

}

.section__apresentation .section__apresentation--text a:hover {
  background: #292b2f;
  color: #fff;
    transform: scale(1.1) translateY(0px);

}

.section__apresentation .section__apresentation--image {
  display: none;
  box-shadow: 0px 4px 10px rgb(255, 255, 255);
  animation: customAni 3s ease-in-out 0s 1 normal none;
}

/* Section techs */
.section__techs h2,
.section__techs figcaption {
  color: #fff;
}

.section__techs .description {
  display: flex;
  justify-content: space-between;
}

.section__techs .description {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.section__techs .description figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 150px;
  padding: 1rem;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 6px;
}

.section__techs .description figure img {
  width: 40px;
}

/* Projects */
.section__projects h4,
.section__projects h2,
.section__projects p {
  color: #fff; 
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
}

.projects__container {
  /* max-width: 375px; */
  /* height: 800px; */
  

}

.project{
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgb(255, 255, 255);
  animation: customAni 3s ease-in-out 0s 1 normal none;
  height: 720px;
  width: 400px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container{
  flex-grow: 1;
}


.projects__container .project img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgb(93, 93, 93);
}

.projects__container .project img:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.807);

}

.project__description {
  gap: 1rem;
  width: 100%;
  max-height: 270px; 
  padding: 10px;
}

.projects__container .links{
  display: block;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.projects__container .project .project__description,
.projects__container .project .project__description .links {
  margin: 1rem 0;
}

.projects__container .project .project__description h4 {
  font-size: 1.2rem;
}

.projects__container .project .project__description p {
  font-size: 15px;
}

.projects__container .project .project__description .links {
  display: flex;
  gap: 1rem;
}

.projects__container .project .project__description .links a {
  display: inline-block;
  width: 50%;
  padding: 0.75rem 0.5rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #fff;
  color: #292b2f;
  border-radius: 6px;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
}

.projects__container .project .project__description .links a:hover {
  background: #292b2f;
  ;
  color: #fff;
  transition: 0.3s ease-in-out
}

/* Mais projetos */
.More-projects {
  padding-top: 50px;

}

#Mais-projetos {
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  background: #ffffff00;
  color: #ffffff;
  border-radius: 6px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 5px 5px 100px 35px rgba(226, 215, 215, 0.47);
}

#Mais-projetos:hover {
  background: #292b2f;
  color: #fff;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1) translateY(0px);

}

/* .More-projects a {
  display: inline-block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  background: #ffffff00;
  color: #ffffff;
  border-radius: 6px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 100px 35px rgba(226, 215, 215, 0.47);

}

.More-projects a:hover {
  background: #292b2f;
  ;
  color: #fff;
  transition: all 0.3s ease-in-out;
} */

/* Footer / contacts*/
.title-contacts {
  text-align: left;
  color: #fff;
}

.line-contacts {
  width: 20px;
  height: 4px;

}

.contacts__container {
  display: flex;
  align-items: left;
}

.contacts__container .contact-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  justify-content: space-around;
}