*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: monospace, arial, sans-serif;
  height: 100vh;
  background: linear-gradient(132deg, #000000,#00ff00, #0000ff,#e60073,#ff0000,#ffffff);
  background-size: 400% 400%;
  animation: BackgroundGradient 15s ease infinite;
}
nav{
  color: #fff;
  padding: 0.5rem;
  position: top;
  transition: 0.3s ease-in-out;
}

nav header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

nav .Btn_voltar{
  display: flex;
  align-items: center;
  justify-content: start;
  margin:20px 0px 0px 20px;
}

.container {
  margin: 0 auto; 
  height: 100%;
  width: 100%;
}

.btn{
	padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  background: #ffffff00;
  color: #ffffff;
  border-radius: 6px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 5px 5px 100px 35px rgba(226, 215, 215, 0.47);
}

.btn:hover {
  background: #292b2f;
  color: #fff;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1) translateY(0px);
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  min-height: 100vh;

}

.project {
  display: block;
  width: 350px;
  height: 600px;
  margin: 1rem;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgb(255, 255, 255);
  animation: customAni 3s ease-in-out 0s 1 normal none;
  padding: 15px;
}


.projects__container .project img {
  width: 100%;
  object-fit: cover;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgb(93, 93, 93);
}

.projects__container .project img:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.807);
}

.project__description {
  width: 100%;
  align-items: center;
  justify-content: center;
  max-height: 240px; 
  overflow: hidden;
  padding: 10px;
  /* border: 1px solid #fff; */
  flex-grow: 1;
  margin-top: 20px;
}

.projects__container .project .project__description h4 {
  font-size: 1.2rem;
}

.projects__container .project .project__description p {
  font-size: 15px;
}

.projects__container .project .links {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

}

.projects__container .project  .links a {
  display: inline-block;
  width: 50%;
  padding: 0.75rem 0.5rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #fff;
  color: #141516;
  border-radius: 6px;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
}

.projects__container .project .links a:hover {
  background: #292b2f;
  color: #fff;
  transition: 0.3s ease-in-out
}




@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}